html, body {
  margin: 0;
  padding: 0;
}

.ninegrid{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
  height: 100%;
  background-color: #3b3c3d;
}

#title{
  grid-column: 4 / span 3;
  grid-row: 2 / span 2;
  background-color: #fcf5eb;
  border-radius: 15px;
  padding: 15px;
}

#pitch{
  grid-column: 4 / span 3;
  grid-row: 4 / span 4;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: scroll;
}

#navside{
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
}

#pacman{
  grid-column: 2 / span 3;
  grid-row: 5 / span 4;
}

.navLink{
  margin: 40px;
  max-height: 4vh;
  display: flex;
  flex-direction: row;
}

.navDice{
  max-height: inherit;
}


.navText{
  color: #000;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  padding-left: 10px;
}

a{
  text-decoration: none;
}
