html, body {
  margin: 0;
  padding: 0;
}

.ninegrid{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
  height: 100%;
  background-color: #30AEA4;
}

#mechanicstitle {
  grid-column: 4 / span 3;
  grid-row: 1 / span 2;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #fcf5eb;
  display: block;
}

#diceNav {
  grid-column: 4 / span 3;
  grid-row: 3 / span 1;
  margin: auto;
}

#centerPane{
  grid-column: 4 / span 3;
  grid-row: 4 / span 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100%;
}

#movesLinks {
  grid-column: 4 / span 3;
  grid-row: 1 / span 1;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.movesLinksText {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #fcf5eb;
  padding-bottom: 0px;
  cursor: pointer;
}

#activeMech {
  grid-column: 4 / span 3;
  grid-row: 2 / span 1;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 300%;
  color: #7fc8a0;
  padding-top: 0;
  margin-top: 0;
}

#mechanic1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin: auto;
}
#mechanic2 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  margin: auto;
}
#mechanic3 {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  margin: auto;
}
#mechanic4 {
  grid-column: 2 / span 1;
  grid-row: 8 / span 1;
  margin: auto;
}
#mechanic5 {
  grid-column: 8 / span 1;
  grid-row: 2 / span 1;
  margin: auto;
}
#mechanic6 {
  grid-column: 8 / span 1;
  grid-row: 4 / span 1;
  margin: auto;
}
#mechanic7 {
  grid-column: 8 / span 1;
  grid-row: 6 / span 1;
  margin: auto;
}
#mechanic8 {
  grid-column: 8 / span 1;
  grid-row: 8 / span 1;
  margin: auto;
}
#centertext {
  grid-column: 4 / span 3;
  grid-row: 3 / span 4;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 400%;
  color: #dd3d27;
  padding-top: 0;
  margin-top: 0;
  margin-left: 10%;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-top: 0px;
  color: #fcf5eb;
}
